[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
requests = "*"
beautifulsoup4 = "*"
requests-aws4auth = "*"
urllib3 = "==1.26.6"
trafilatura = "*"
langchain = "*"
boto3 = "*"
huggingface-hub = "*"
pinecone-client = "*"

[dev-packages]

[requires]
python_version = "3.10"
