[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trafilatura = "*"
pandas = "*"
tqdm = "*"
requests = "*"
beautifulsoup4 = "*"
elasticsearch = "*"
requests-aws4auth = "*"
urllib3 = "==1.26.6"

[dev-packages]

[requires]
python_version = "3.10"
